body {
  font-family: SF Pro Text, Helvetica Neue, Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 2.2rem;
  font-weight: 700;
}

h2 {
  font-size: 1.5rem;
  text-align: center;
}



.headline {
  margin-top: 2%;
  text-align: center;
}

.numbers {
  position: relative;
  width: 40%;
  margin: auto;
  text-align: center;
  padding: 1% 3%;
  border: 1px solid #E4E7ED;
  border-radius: 9px;
}


.data {
  display: inline-block;
  position: relative;
  margin: 0 5%;
}

.confirmed {
  float: left;
}

.recovered {
  margin: auto;
}

.deaths {
  float: right;
}

.confirmed-num {
  font-size: 3rem;
  font-weight: 600;
  color: #FFA000;
}

.recovered-num {
  font-size: 3rem;
  font-weight: 600;
  color: #1565C0;
}

.deaths-num {
  font-size: 3rem;
  font-weight: 600;
}

.tabs {
  background-color: #fff;
  overflow: hidden;
  text-align: center;
  position: relative;
  width: 60%;
  margin: auto;
  border-bottom: 1px solid #E4E7ED;
}

.tabs button {
  display: inline-block;
  color: #9d9d9d;
  text-align: center;
  padding: 14px 16px;
  margin: 0 5%;
  text-decoration: none;
  font-size: 1.5rem;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid transparent;
}

.tabs button:focus {
  outline: none;
}

.tabs button:hover {
  border-bottom: 3px solid #1565C0;
}

.tabs .active {
  color: #1565C0;
  font-weight: 900;
  border-bottom: 3px solid #1565C0;
}

.tabs .active:focus {
  outline: none;
}

.tab {
  width: 50%;
  float: left;
  margin: 1% 0;
  box-shadow: 0 2px 7px rgba(118, 118, 118, 0.47);
}

/* On mobile */
@media only screen and (max-width: 991px) {
  h1 {
    font-size: 1.7rem;
    font-weight: 900;
  }

  .numbers {
    margin: 2% auto;
    width: 100%;
  }

  h2 {
    font-size: 1rem;
    font-weight: 600;
  }

  .confirmed-num, .recovered-num, .deaths-num {
    font-size: 1.7rem;
    font-weight: 600;
  }

  .tabs {
    margin: auto;
    width: 100%;
  }

  .tabs button {
    font-size: 1rem;
    margin: 0 0;
  }

  .tab {
    width: 100%;
  }
}
