/* Add a black background color to the top navigation */
body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 2.2rem;
  font-weight: 900;
}

h2 {
  font-size: 1.7rem;
  text-align: center;
}

.confirmed-num {
  font-size: 3rem;
  font-weight: 600;
  color: #FFA000;
}

.recovered-num {
  font-size: 3rem;
  font-weight: 600;
  color: #1565C0;
}

.deaths-num {
  font-size: 3rem;
  font-weight: 600;
}

.headline {
  margin-top: 2%;
  text-align: center;
}

.numbers {
  position: relative;
  margin: 2% auto;
  text-align: center;
  padding: 1% 0;
  box-shadow: 0 2px 7px rgba(118, 118, 118, 0.47);
}

.tabs {
  background-color: #fff;
  overflow: hidden;
  text-align: center;
  position: relative;
  margin: 2% auto;
  border-bottom: 2px solid #E4E7ED;
}

/* Style the links inside the navigation bar */
.tabs a {
  display: inline-block;
  color: #9d9d9d;
  text-align: center;
  padding: 14px 16px;
  margin: 0 5%;
  text-decoration: none;
  font-size: 1.5rem;
  border-bottom: 3px solid transparent;
}

/* On mobile */
@media only screen and (max-width: 992px) {
  h1 {
    font-size: 1.7rem;
    font-weight: 900;
  }

  .numbers {
    margin: 2% auto;
  }

  h2 {
    font-size: 1rem;
    font-weight: 600;
  }

  .confirmed-num, .recovered-num, .deaths-num  {
    font-size: 1.7rem;
    font-weight: 600;
  }

  .tabs {
    margin: auto;
  }

  .tabs a {
    font-size: 1rem;
    margin: 0 0;
  }
}

.tabs a:hover {
  color: #1565C0;
  border-bottom: 3px solid #1565C0;
}

.tabs .active {
  border-bottom: 3px solid #1565C0;
  color: #1565C0;
  font-weight: 900;
}

.data {
  display: inline-block;
  position: relative;
  margin: 0 5%;
}
