body {
  font-family: SF Pro Text, Helvetica Neue, Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 2.2rem;
  font-weight: 700;
  color: #1565C0;
}

h2 {
  font-size: 1.5rem;
  text-align: left;
}

h3 {
  font-size: 1.2rem;
  font-weight: 200;
}

h5 {
  display: inline;
  ;
  color: #1565C0;
}

button:focus {
  outline: none;
}


.headline {
  margin-top: 2%;
  text-align: center;
}

/* Numbers section */
.numbers {
  position: relative;
  width: 60%;
  margin: auto;
  text-align: left;
  padding: 1% 3%;
  border: 1px solid #E4E7ED;
  border-radius: 5px;
  overflow: hidden;
}

.data {
  display: inline-block;
  position: relative;
  margin: 0 5%;
}

.confirmed-num {
  font-size: 3rem;
  font-weight: 600;
  color: #FFA000;
}

.deaths-num {
  font-size: 3rem;
  font-weight: 600;
}

/* Tabs section */
.tabs {
  background-color: #fff;
  overflow: hidden;
  text-align: center;
  position: relative;
  width: 60%;
  margin: auto;
  border-bottom: 1px solid #E4E7ED;
}

.tab-btn {
  display: inline-block;
  color: #9d9d9d;
  background-color: #fff;
  text-align: center;
  padding: 14px 16px;
  margin: 0 5%;
  text-decoration: none;
  font-size: 1.5rem;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid transparent;
}

.tab-btn:hover {
  border-bottom: 3px solid #1565C0;
}

.tab-btn.active {
  color: #1565C0;
  font-weight: 900;
  border-bottom: 3px solid #1565C0;
}

/* Tab content section */
.tab-content {
  width: 60%;
  padding: 0;
  margin-top: 0;
}

.tab {
  width: 100%;
  margin: 1% auto;
}

.labels {
  text-align: left;
  padding: 1% 2%;
  border-bottom: 1px solid #E4E7ED;
}

.label-btn {
  color: #1565C0;
  background-color: #fff;
  border-radius: 9px;
  box-shadow: 0 1px 5px rgba(118, 118, 118, 0.47);
  padding: 8px 10px;
  margin: 2px 1%;
}

.label-btn.active {
  color: #fff;
  background: #1565C0;
}

.sub-tab {
  width: 60%;
  margin: 1% auto;
  box-shadow: 0 1px 7px rgba(118, 118, 118, 0.47);
}

.tableauplaceholder {
  margin: auto;
}

.notes {
  width: 700px;
  margin: 10% auto 0 auto;
}

/* Help section */
.card {
  max-width: 415px;
  margin: 5% 0;
}

.card-body {
  min-height: 156px;
}

.card-icon {
  height: 48px;
  width: 48px;
  margin-right: 2%;
  margin-bottom: 2%;
}

.fa-user-md {
  color: #FFA000;
  margin-bottom: 2%;
}

/* Footer */
.contact {
  border-top: 1px solid #E4E7ED;
  padding-top: 5%;
  text-align: center;
  margin-top: 20px;
}

.disclaimer {
  display: inline-block;
}

.linkedin-btn {
  display: inline-block;
  margin-left: 10px;
}

.fa-linkedin {
  margin-top: 2px;
}

/* Between mobile and desktop */
@media only screen and (min-width: 1438px) {
  .card {
    margin: 5% auto;
  }
}

@media only screen and (min-width: 1270px) and (max-width: 1774px) {
  .tab-btn {
    margin: 0 1.5%;
  }
}

@media only screen and (min-width: 991px) and (max-width: 1270px) {
  .numbers, .tabs, .tab-content {
    width: 70%;
  }

  .tab-btn {
    margin: 0 1%;
  }
}

/* On mobile */
@media only screen and (max-width: 991px) {
  h1 {
    font-size: 1.7rem;
    font-weight: 900;
  }

  h2 {
    font-size: 1rem;
    font-weight: 600;
  }

  h3 {
    font-size: 0.8rem;
    font-weight: 200;
  }

  .numbers {
    margin: 2% auto;
    width: 98%;
  }

  .confirmed-num, .deaths-num {
    font-size: 1.7rem;
    font-weight: 600;
  }

  .tabs, .tab-content, .tab, .sub-tab {
    margin: auto;
    width: 100%;
  }

  .tab-btn {
    font-size: 1rem;
    margin: 0;
  }

  .labels, .tabs {
    flex: none;
    overflow-x: auto;
    white-space: nowrap;
  }

  .labels::-webkit-scrollbar, .tabs::-webkit-scrollbar {
    display: none;
  }

  .label-btn {
    font-size: 0.8rem;
  }

  .card {
    width: 95%;
    margin: 5% 2%;
  }
}
